.toolbar
  a.btn.pull-left(href="/")
    em.fa.fa-cube
  a.btn.pull-right(href="/me")
    em.fa.fa-user
  a.btn.pull-right(href="/me/models")
    em.fa.fa-files-o
  a.btn.pull-right(href="/me/settings")
    em.fa.fa-cog
  a.btn.pull-right(href="/me/collections")
    em.fa.fa-users
  a.btn.pull-right(href="/play")
    em.fa.fa-code
  a.btn.pull-right(href="/new")
    em.fa.fa-plus
  a.btn.pull-right(href="/search")
    em.fa.fa-search