extends stories

block link
  -var selected='public';

block stories
  if (stories.length > 0)
    each story in stories
      p Model description here.
  else
    p You haven't published any models yet.