extends stories

block stories
  if (stories.length > 0)
    each story in stories
      .draft
        a(href="/edit/#{story._id}")= (story.title || 'Draft Story')
        p= story.slug
        span= story.created
  else
    p You have no drafts.
    p TODO: add inspiration link.