extends stories

block stories
  if (stories.length > 0)
    each story in stories
      .story-block
        h3.title
          a(href="/edit/#{story._id}")= (story.title || 'Untitled')
        a(href="/edit/#{story._id}")= story.slug
        .meta-line
          span Last edited #{moment(story.updated).fromNow()}
  else
    p You have no drafts.
    a(href="/new")= 'Create a new model...'