h1 Your models

ul
  li
    a(href="drafts") Drafts
  li
    a(href="public") Public
  li
    a(href="unlisted") Unlisted

if (stories.length > 0)
  each story in stories
    p Model description here.
else
  block excuse
    p No models found.