extends layout

block content
  .content
    block link
      -var selected = 'draft';
    -var menu = {'draft':'Drafts','public':'Public','unlisted':'Unlisted'};
    h1 Your models
    
    ul.nav-tab.content
      each val, key in menu
        li(class=selected === key ? "active" : "")
          a(href="#{val.toLowerCase()}")
            if (req.counts[key] > 0)
              span= req.counts[key]
              | 
            | #{val}
    
    block stories