extends stories

block link
  -var selected='public';

block stories
  if (stories.length > 0)
    each story in stories
      .story-block
        h3.title
          a(href="/edit/#{story._id}")= (story.title || 'Untitled')
        a(href="/edit/#{story._id}")= story.slug
        .meta-line
          span Published on #{moment(story.updated || story.created).format('MMM D')}
  else
    p You haven't published any models yet.