extends layout

block content
  h1 Your models
  
  ul
    li
      a(href="drafts")
        if (req.counts.draft > 0)
          span= req.counts.draft
          | 
        | Drafts
    li
      a(href="public")
        if (req.counts.public > 0)
          span= req.counts.public
          | 
        | Public
    li
      a(href="unlisted")
        if (req.counts.unlisted > 0)
          span= req.counts.unlisted
          | 
        | Unlisted
  
  block stories