// ******FOOTER******
footer.footer
  .footer-content
    .container
      .row
        .footer-col.links.col-md-2.col-sm-4.col-xs-12
          .footer-col-inner
            h3.title About us
            ul.list-unstyled
              li
                a(href='/about')
                  i.fa.fa-caret-right
                  | Who we are
              li
                a(href='#')
                  i.fa.fa-caret-right
                  | Press
              li
                a(href='/blog')
                  i.fa.fa-caret-right
                  | Blog
              li
                a(href='#')
                  i.fa.fa-caret-right
                  | Jobs
              li
                a(href='/contact')
                  i.fa.fa-caret-right
                  | Contact us
        .footer-col.links.col-md-2.col-sm-4.col-xs-12
          .footer-col-inner
            h3.title Product
            ul.list-unstyled
              li
                a(href='#')
                  i.fa.fa-caret-right
                  | How it works
              li
                a(href='#')
                  i.fa.fa-caret-right
                  | API
              li
                a(href='#')
                  i.fa.fa-caret-right
                  | Download Apps
              li
                a(href='/pricing')
                  i.fa.fa-caret-right
                  | Pricing
        .footer-col.links.col-md-2.col-sm-4.col-xs-12.sm-break
          .footer-col-inner
            h3.title Support
            ul.list-unstyled
              li
                a(href='#')
                  i.fa.fa-caret-right
                  | Help
              li
                a(href='#')
                  i.fa.fa-caret-right
                  | Documentation
              li
                a(href='/terms')
                  i.fa.fa-caret-right
                  | Terms of services
              li
                a(href='/privacy')
                  i.fa.fa-caret-right
                  | Privacy
        .footer-col.connect.col-md-6.col-sm-12.col-xs-12
          .footer-col-inner
            ul.social.list-inline
              li
                a(href='https://twitter.com/qubic_io', target='_blank')
                  i.fa.fa-twitter
              li.row-end
                a(href='http://github.com/mavxg')
                  i.fa.fa-github        
            .form-container
              p.intro Stay up to date with the latest news and offers from Qubic           
              form.signup-form.navbar-form
                .form-group
                  input.form-control(type='text', placeholder='Enter your email address')
                |              
                button.btn.btn-cta.btn-cta-primary(type='submit') Subscribe Now
        .clearfix
      .row.has-divider
        .footer-col.download.col-md-6.col-sm-12.col-xs-12
          .footer-col-inner
            h3.title Alternatives
            p Other people, other software.
              br
              | Checkout the competition: the&rsquo;re awesome.                     
            ul.list-unstyled.download-list
              li
                a.btn.btn-ghost(href='http://www.google.com/search?q=Lumina+Analytica',target='_blank')
                  i.fa.fa-heart
                  span.text Analytica            
              li
                a.btn.btn-ghost(href='http://www.google.com/search?q=Quantrix',target='_blank')
                  i.fa.fa-thumbs-up
                  span.text Quantrix
        .footer-col.contact.col-md-6.col-sm-12.col-xs-12
          .footer-col-inner
            h3.title Contact us                 
            p.adr.clearfix
              i.fa.fa-map-marker.pull-left                 
              span.adr-group.pull-left
                span.street-address 11 South Row
                br                                 
                span.region London
                br                             
                span.postal-code SE3 0RY
                br                                
                span.country-name UK
            p.tel
              i.fa.fa-phone
              | 020 36 031 031
            p.email
              i.fa.fa-envelope-o
              a(href='#') enquiries@qubic.io
            p.email
              i.fa.fa-twitter      
              a.twitter-follow-button(href='https://twitter.com/qubic_io', target="_blank") Follow @qubic_io
  .bottom-bar
    .container
      small.copyright
        | Copyright @ 2015 
        a(href='http://norrington.net/', target='_blank') Benjamin Norrington