block header
  .toolbar
    a.btn.pull-left(href="/")
      em.fa.fa-cube
    if (catalog && showNew)
      form(action="/new/" + catalog, method="post")
        button.btn.pull-right(type="submit")
          em.fa.fa-plus
    a.btn.pull-right(href="/search")
      em.fa.fa-search
