body {
	font-family: 'Roboto', arial, sans-serif;
	color: #114;
	font-weight: 300;
	line-height: 28.5px;
	font-size: 17px;
}

h1 {
	font-size: 42px;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 300;
	color: rgb(75, 75, 75);
}

.search .nav-v {
	padding: 0;
	margin: 0;
}

.search .nav-v li {
	list-style: none;
	display: block;
	text-transform: uppercase;
	font-size: 12px;
}

.excuse {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 80px;
	color: #bbb;
}

.search .nav-v a {
	border-top: 1px solid #ccc;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 100%;
	text-decoration: none;
	color: #444;
	font-weight: 300;
	display: inline-block;
	letter-spacing: .1em;
}

.search .heading h3 {
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: .1em;
}

.search .nav-v a.active {
	border-top: 1px solid #000;
	font-weight: 400;
	color: #000;
}

.search .nav-v a.active:after {
  content: "\f105";
  float: right;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  margin:0px 0px 0px 10px;
  text-decoration:none;
}

.search .search-input {
	border: 0;
	font-size: 50px;
	outline: none;
}

.story-block,
.person,
.collection {
	border-bottom: 1px solid #eee;
	padding-bottom: 20px;
}

.story-block .title,
.person .title,
.collection .title {
	line-height: 1.3;
	font-size: 24px;
	margin-bottom: 0;
}

span.dot {
	margin-left: 0.4em;
	margin-right: 0.4em;
	font-weight: 500;
}

.story-block a,
.person a,
.collection a {
	text-decoration: none;
	color: #444;
}

.story-block .meta-line {
	color: #ccc;
}

.story-block:last-child,
.collection:last-child,
.person:last-child {
	border-bottom: 0;
}

/* fix line height change due to sub/sup */
sup, sub {
   vertical-align: baseline;
   position: relative;
   top: -0.4em;
}
sub { top: 0.4em; }

.search header {
	margin: 40px 0;
}

.shareForm {
	padding-bottom: 1em;
	border-bottom: 1px solid #ddd;
}

.top-border {
	border-top: 1px solid #ddd;
}

.col {
	padding-right: 20px;
	padding-left: 20px;
	position: relative;
}

.content {
	margin: auto;
	max-width: 800px;
}

.content.wide {
	max-width: 1140px !important;
}

.sidebar {
	position:absolute;
	width: 300px;
	font-family: "Open Sans","Clear Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
top: 0;
left: 0;
bottom: 0;
z-index: 1;
width: 300px;
color: #364149;
background: #fafafa;
border-right: 1px solid rgba(0,0,0,0.07);
-webkit-transition: left 250ms ease;
-moz-transition: left 250ms ease;
-o-transition: left 250ms ease;
transition: left 250ms ease;
}

.none .sidebar {
	left: -300px;
}

ul.summary .fa {
  position: absolute;
  right: 9px;
}

ul.summary {
	position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
overflow-y: auto;
list-style: none;
margin: 0;
padding: 0;
-webkit-transition: top 250ms ease;
-moz-transition: top 250ms ease;
-o-transition: top 250ms ease;
transition: top 250ms ease;
}

.info {
	position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
overflow-y: auto;
list-style: none;
margin: 0;
padding: 0;
-webkit-transition: top 250ms ease;
-moz-transition: top 250ms ease;
-o-transition: top 250ms ease;
transition: top 250ms ease;
}

.history {
	position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
overflow-y: auto;
list-style: none;
margin: 0;
padding: 0;
-webkit-transition: top 250ms ease;
-moz-transition: top 250ms ease;
-o-transition: top 250ms ease;
transition: top 250ms ease;
}

ul.summary li {
	list-style:none
}

ul.summary li a {
display: block;
padding: 10px 15px;
border-bottom: 0;
color: #364149;
background: transparent;
text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
position: relative;
text-decoration:none;
}

.sidebar {
font-weight: 300;
font-size: 14px;
line-height: 16px;
}

.book-content .publish {
	border-bottom: 1px solid #ccc;
padding-bottom: 30px;
margin-bottom: 50px;
}

.book .sidebar .book-search {
    padding: 6px;
    background: transparent;
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    -webkit-transition: top 250ms ease;
    -moz-transition: top 250ms ease;
    -o-transition: top 250ms ease;
    transition: top 250ms ease
}

.book .sidebar .book-search input,
.book .sidebar .book-search input:focus,
.book .sidebar .book-search input:hover {
    width: 100%;
    background: transparent;
    border: 1px solid transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0;
    line-height: 22px;
    padding: 7px 4px;
    color: inherit
}

.book .sidebar.with-search .book-search {
    top: 0
}

.book .sidebar.with-search ul.summary,
.book .sidebar.with-search .info,
.book .sidebar.with-search .history {
    top: 50px
}

.book-content {
position:absolute;
left: 300px;
right: 0;
bottom: 0;
top: 0;
overflow-y: auto;
color: #000;
background: #fff;
-webkit-transition: left 250ms ease;
-moz-transition: left 250ms ease;
-o-transition: left 250ms ease;
transition: left 250ms ease;
}

.none .book-content {
	left: 0px;
}

.toolbar {
	height: 50px;
	padding: 0 8px;
}

.toolbar .btn {
height: 50px;
color: #ccc;
padding: 0 15px;
line-height: 50px;
}

.toolbar .btn:hover {
color: #444;
}

.toolbar h1 {
color: #444;
	margin: 0;
font-size: 20px;
font-weight: 200;
text-align: center;
line-height: 50px;
opacity: 0;
-webkit-transition: opacity ease .4s;
-moz-transition: opacity ease .4s;
-o-transition: opacity ease .4s;
transition: opacity ease .4s;
-webkit-transition: opacity .2s ease;
-moz-transition: opacity .2s ease;
-o-transition: opacity .2s ease;
transition: opacity .2s ease;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}

.toolbar:hover h1 {
	opacity: 1;
}

th, b, strong {
	font-weight: 500;
}


.book-content .publish {
	display: none;
}

.book-content.with-publish .publish {
	display: block;
}


.nav-tab {
	padding: 0;
	display: block;
	height: 50px;
	border-top: 1px solid #ccc;
}

.nav-tab li {
display: inline-block;
margin-right: 20px;
margin-top: -1px;
}

.nav-tab li.active {
	border-top: 1px solid #444;
}

.nav-tab li.active a {
	color: #444;
}

.nav-tab li a {
	text-decoration: none;
	font-size: 11px;
	text-transform: uppercase;
	color: #ccc;
	display: inline-block;
	padding: 10px 0;
}

.icon_link {
	display: block;
    position: absolute;
    margin: 15px;
}

  .icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    fill: rgb(175, 175, 175);
  }

div.encrypted {
	display: relative;
background: rgb(250, 250, 250);
margin: 3em auto;
border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;
}

.pure-form {
	margin-bottom: 1em;
}

div.result {
	margin-top: 1em;
	margin-bottom: 1em;
}

div.result pre {
	background: rgb(113, 179, 253);
}

div.result pre.error {
	background: rgb(253, 116, 111);
}

td.error, th.error {
	background: rgb(253, 116, 111);
}

div.result td.category {
	background-color: rgb(216,230,242);
}
div.result th.category {
	background-color: rgb(134,192,241);
}

td.output {
	background-color: rgb(216,230,242);
}

td.highlight {
	background-color: rgb(255,250,229);
}
th.highlight {
	background-color: rgb(255,234,133);
}


section hr {
	display: block;
	width: 100px;
	margin: 3em auto 3em auto;
	border: 0;
	border-top: 1px solid rgba(0,0,0,0.15);
}

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show;
	border: 1px solid #cbcbcb;
}

th, td {
	text-align: left;
	border-left: 1px solid #cbcbcb;
	border-width: 0 0 0 1px;
	font-size: inherit;
	margin: 0;
	overflow: visible;
	padding: .5em 1em;
	border-bottom: 1px solid #cbcbcb;
}

pre {
	white-space: pre-wrap;
}

thead {
background: #e0e0e0;
color: #000;
text-align: left;
vertical-align: bottom;
}

textarea.hiddenTextArea {
width: 100%;
max-width: 800px;
height: 50px;
opacity: 0;
position: absolute;
left: -3000px;
}
/*
::-moz-selection {
    opacity:  0;
}

::selection {
    opacity: 0;
}
*/
.editor {
	position: relative;
	/*white-space: pre-wrap;*/
}

.selected {
	background: rgb(179,216,253);
}

table.pure-table td.selected,
table.pure-table th.selected,
td.selected,
th.selected {
	background: rgb(179,216,253);
}

span {
	padding-bottom: 5px;
	padding-top: 3px;
}

span.cursor {

	padding-bottom: 5px;
	padding-top: 3px;
	margin: -1px;
	border: 1px solid red;
	z-index: 100;
}

sup, sub {
  font-size: 0.7em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.4em;
}
sub {
	top: 0.4em;
}

sup span {
	padding-bottom: 11px;
}
sub span {
	padding-top: 12.5px;
}

.selection {
	top: 0px;
	left: 0px;
	z-index: 100;
}

.selection div {
	position: absolute;
	background: rgba(114,190,215,0.5);
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.import {
	padding: 1em;
	background: #f4f4f4;
	font-family: monospace;
	position: relative;
}

.import + .import,
.include + .import {
	padding-top: 0;
	margin-top: -0.8em;
}

.import .right-icon {
	color: #aaa;
	position: absolute;
	right: 1em;
}

.import .right-icon:hover {
	color: #000;
}

.import .error {
	color: red;
}

.import:before {
	content: '@import ';
	color: #aaa;
}

.include {
	padding: 1em;
	background: #f4f4f4;
	font-family: monospace;
	position: relative;
}

.include + .include,
.import + .include {
	padding-top: 0;
	margin-top: -0.8em;
}

.include .right-icon {
	color: #aaa;
	position: absolute;
	right: 1em;
}

.include .right-icon:hover {
	color: #000;
}

.include .error {
	color: red;
}

.include:before {
	content: '@include ';
	color: #aaa;
}

pre {
	padding: 1em;
	background: rgba(0,0,0,0.05);
}

.message {
	background: rgb(255, 165, 0);
	position: relative;
	padding: 0.5em;
	padding-top: 0;
}
