extends layout

block header
  include ./includes/header.jade

block content
  h1 Qubic
  form.pure-g(action="/try", method="post")
    button.pure-button.pure-u-1-5(type="submit")
      em.fa.fa-plus  Try Qubic*
    a.pure-button.pure-button-primary.pure-u-1-5(href="/signup") Sign Up
  p
    * no signup necissary