extends layout

block content
  #wrap
  script(type="text/javascript").
    var docId = '#{docId}';
    var docCollection = 'play';
    var docMode = 'edit';
    var docSexpr = '(doc (section (h1 "") (p "")))';
  script(type='text/javascript' src='/channel/bcsocket.js')
  script(type='text/javascript' src='/javascript/utils.js')  
  script(type='text/javascript' src='/javascript/main.js')
