extends layout


block header
  include ./includes/header.jade

block content
  .content
    h1= user.name
    if (stories.length > 0)
      each story in stories
        .story-block
          h3.title
            a(href="/edit/#{story._id}")= (story.title || 'Untitled')
          a(href="/edit/#{story._id}")= story.slug
          .meta-line
            span #{moment(story.updated).fromNow()}  