extends layout


block header
  include ./includes/header.jade

block content
    .headline-bg.about-headline-bg
    // //headline-bg
    section.story-section.section.section-on-bg
      h2.title.container.text-center Your Profile
      h1= user.name
      .story-container.container.text-center
        .story-container-inner
