extends velocity
      
block content
  .upper-wrapper
      // ******HEADER******
      header.header
        .container
          h1.logo
            a(href='/')
              span.logo-icon
              span.text Qubic
      // ******resetpass Section******
      section.resetpass-section.access-section.section
        .container
          .row
            .form-box.col-md-6.col-sm-8.col-xs-12.col-md-offset-3.col-sm-offset-2.xs-offset-0
              .form-box-inner
                h2.title.text-center Password Reset
                |     
                |                             
                p.intro
                  | Please enter your email address below and we&apos;ll email you a link to a page where you can easily create a new password.
                |              
                |                             
                .row
                  .form-container
                    form.resetpass-form
                      .form-group.email
                        label.sr-only(for='reset-email') Email
                        |                                             
                        input#reset-email.form-control.resetpass-email(type='email', placeholder='Email')
                      // //form-group
                      button.btn.btn-block.btn-cta-primary(type='submit') Reset Password
                    |                                     
                    p.lead.text-center
                      | Take me back to the 
                      a(href='login') login
                      |  page                               
  
